In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
from sklearn.model_selection import train_test_split

Посмотрим работу с метриками классификации.  
Для этого поугадываем вид пингвина.

In [9]:
df = sns.load_dataset('penguins').dropna()
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

X и y выберем просто

In [23]:
# не буду включать остров, т.к. это сильная подсказка
df.groupby(['island', 'species']).count()

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
island    species
Biscoe    Adelie                 44             44                 44
          Gentoo                119            119                119
Dream     Adelie                 55             55                 55
          Chinstrap              68             68                 68
Torgersen Adelie                 47             47                 47

                     body_mass_g  sex
island    species
Biscoe    Adelie              44   44
          Gentoo             119  119
Dream     Adelie              55   55
          Chinstrap           68   68
Torgersen Adelie              47   47

In [44]:
X = df.iloc[:, 2:-1]
y = df['species']

Поделим данные на трейн и тест

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [47]:
import sklearn.metrics as metrics
from sklearn.tree import DecisionTreeClassifier

In [101]:
# сделаем дерево глубиной 5
classifier = DecisionTreeClassifier(max_depth=2)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

Оценим качество классифкатора

In [102]:
y_pred = classifier.predict(X_test)

In [103]:
metrics.accuracy_score(y_test, y_pred)

0.9642857142857143

In [104]:
metrics.precision_score(y_test, y_pred, average='weighted')

0.9685714285714285

In [105]:
metrics.recall_score(y_test, y_pred, average='weighted')

0.9642857142857143

In [106]:
metrics.f1_score(y_test, y_pred, average='weighted')

0.9645751917788391

In [107]:
metrics.roc_auc_score(y_test, classifier.predict_proba(X_test), average='weighted', multi_class='ovr')

0.9893640251799645

In [24]:
df.head(1)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male